
/* Table of Contents:
	1. Default styles
  2. Navigation bar
	3. Topper
	4. Article body
	5. Footer
  6. Media Queries
*/



/* 1. Default styles */


BODY {
  font-family: 'PT Serif', serif;
}

.container {
  text-align:center;
}

a:link {
  color: #e0162b;
  text-decoration:none;
}

a:hover {
  color: #0052a5;
  text-decoration:none;

}


a:visited {
  color: #999;
}


p{
  text-align:left;
  line-height:180%;
}

.red {
  color: #e0162b;
}

.blue {
  color: #0052a5;
}

.star-bar {
text-align:center;
}

.star {
  width:15px;
  margin-left:10px;
}

.star-top {
  width:15px;
  margin-right:5px;

}


/* 2. Navigation bar */

.bg-dark {
  background:#000 !important;
}

ul.navbar-nav {
  margin-left:50%;
}

.navbar {
  font-family: 'Montserrat', sans-serif;

}


/* 3. Topper */

.hero-image{
    width:100%;
    max-width:900px;
    margin: 0 auto;
    text-align:center;
}

.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  line-height:130%;
}

.subhed {
  font-size:1em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size:1.25em;
  max-width:800px;
  margin:0 auto;
  padding-top:25px;
  padding-bottom:25px;
}


/* 4. Article body */

.chapter-head {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  font-weight:700;
  width:100%;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.small-image {
  width:100%;
  max-width:500px;
  margin:0 auto;
  padding-top:30px;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

.caption-small {
  width:100%;
  max-width:500px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}


.graphic-container {
  padding-top:30px;
  padding-bottom:30px;
  border-top:1px solid #cdcdcd;
  border-bottom:1px solid #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  margin:0 auto;
}

.graphic-container h2 {
  font-size:2em;
}


.about {
  width:100%;
  max-width:800px;
  margin:0 auto;
  background:#e8e8e8;
  padding:10px;
  margin-top:25px;
  font-family: 'Montserrat', sans-serif;
}

/* 5. Footer */

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}



/* 6. Media queries */

@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .intro-text {
    font-size:1em;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

}
