BODY {
  font-family: 'PT Serif', serif;
}

.bg-dark {
  background:#000 !important;
}

ul.navbar-nav {
  margin-left:50%;
}

.container {
  text-align:center;
}

p{
  text-align:left;
  line-height:180%;
}

.navbar {
  font-family: 'Montserrat', sans-serif;

}

.hero-image{
    width:100%;
    max-width:900px;
}

.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}

.subhed {
  font-size:1em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  margin-top:-25px;
}

.byline {
  font-size:1em;
  text-transform:uppercase;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;

}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size:1.25em;
  max-width:800px;
  margin:0 auto;
  padding-top:25px;
  padding-bottom:25px;
}

.chapter-head {
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:20px;
  font-weight:700;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.caption {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}

.red {
  color: #e0162b;
}

.blue {
  color: #0052a5;
}

.star-bar {
text-align:center;
}


.star {
  width:15px;
  margin-left:10px;
}

.star-top {
  width:15px;
  margin-right:5px;

}

@media(max-width:550px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .intro-text {
    font-size:1em;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

}
