/* y axis label size */
.c3-axis-y-label {
  font-size: 12px; //change the size of the fonts
}

/* x axis label size */
.c3-axis-x-label  {
  font-size: 12px; //change the size of the fonts
}

/* y axis tick size */
.c3-axis-y g {
  font-size: 12px; //change the size of the fonts
}

/* x axis tick size */
.c3-axis-x g {
  font-size: 12px; //change the size of the fonts
}

.c3-legend-item text{
  font-size: 14px; //change the size of the fonts
}
