 /* styles for my resume */



BODY {
  font-family: 'Open Sans', arial, sans-serif;
}

#container {
  width:100%;
  max-width:1200px;
  margin: 0 auto;
  padding-bottom:50px;
}
 /* Name */
#name {
  font-size:3em;
  text-transform: uppercase;
  text-align:center;
  color:#33485e;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

 /* Section titles */
.sectionheader {
  font-size:1.5em;
  background:#33485e;
  color: #fff;
  text-transform: uppercase;
  font-weight:400;
  margin: 20px 0 10px 0;
  width: 70%;
  min-width:300px;
  padding-left:20px;
}

 /* My Title */
 #title  {
  color:#33485e;
  text-transform: uppercase;
  text-align:center;
  font-size:1.5em;
  font-weight:600;
  margin: 20px 0 0 0;

}


/* Job Title */
.jobtitle {
  font-weight: 600;
  font-size:1.5em;

}

/* Job Org */
.organization {
  font-weight: 400;
  font-size:1.25em;
}

/* Job Date */
.date {
  font-weight: 400;
  font-style:italic;
  font-size:1em;
  margin: 2px 0 0 0;
}

.description {
  margin: 10px 0 10px 0;
}

.menu {
  margin: 0;
  padding: 0;
  text-align:center;
}

.menu li {
    display:inline;
}

#degrees {
  margin: 5px 0 0 0;
}

#do {
  margin: 5px 0 0 0;
}

.top {
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom: 30px;
}


/* Contact info, skills, education items */
li {
  font-size:1em;
}
